* {
	font-family: Times New Roman;
}

caption {
	border: 1px solid;
	font-weight: bolder;
}

table {
	border: 1px solid;
	width: 100%;
}

td {
	border: 1px solid;
	width: 50%;
}

th {
	display: flex;
	text-align: center;
	justify-content: center;
}

.description {
	background-color: #ffb6c1;
}

.code {
	font-family: monospace;
	text-align: right;
	background-color: #ffe4e1;
}
